table,
      tr,
      th,
      td {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding: 6px;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      body {
        background-color: rgb(170, 8, 89);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .inner {
        background-color: rgb(128, 8, 68);
      }
      label {
        color: white;
      }
      button {
        font-weight: bold;
        color: rgb(66, 66, 66);
        padding-left: 185px;
        padding-right: 185px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px;
        border: none;
        font-size: medium;
      }
      input {
        padding: 3px;
      }